.menu-main
{
  background-color: Black;
  height:800px;
}

.menu-button
{
  background-color: transparent;
  display:inline-block;
  text-align: left;
  border:none;
  height:50px;
  width:150px;
  font-size: large;
  color: white;
  fill: white;
}

.menu-icon
{
  width: 25px;
  height:25px;
  margin-left: 2px;
  margin-right: 5%;
  vertical-align: middle;
}

.menu-item
{
  height:50px;
  width:200px;
  font-size: large;
  color: white;
  fill: White;
}
